h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    margin: 10px 13px 10px 13px;
}

a {
    color: #0069d6;
}

a:hover {
    color: #0050a3;
    text-decoration: none;
}

a img {
    border: none;
}

p {
    text-indent: 2em;
    margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}

h1 {
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 30px;
    color: #0050a3;
}

h1 a {
    margin-top: 100px;
    display: block;
}

h2 {
    font-size: 24px;
    margin-bottom: 28px;
}

h3 {
    font-size: 18px;
    margin-bottom: 24px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

blockquote {
    padding: 2px 13px 21px 2px;
    margin-bottom: 12px;
    font-family: georgia,serif;
    font-style: italic;
}

blockquote:before {
    content: "\201C";
    font-size: 40px;
    margin-left: -10px;
    font-family: georgia,serif;
    color: #eee;
}

blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}

code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}

code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    background-color: #fff;
    color: #737373;
    font-size: 11px;
    padding: 0;
}

figure img {
    max-width: 100%;
}

ul li a {
    font-weight: bold;
}

ul li ul a {
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    body {
        width: 748px;
        margin: 40px auto;
    }
}


table {
    margin-bottom: 10px
}

thead {
    font-size: 120%;
    font-weight: 1000;
    cursor: pointer;
    background: #c9dff0
}

thead tr th {
    text-align: center;
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px
}

thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%
}

tbody tr td {
    padding: 15px 10px
}

tbody tr td.lalign {
    text-align: left
}

tbody tr:nth-child(even) {
    background: #fff
}

tbody tr:nth-child(odd) {
    background: #eee
}

td,th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em
}